.brand{
    margin-top: 10%;
    font-family: sans-serif;
}

.brand-container{
    background-color: #373737;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}
.brand-container img{
   max-width: 25%;
}
.brand-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.grid{
    margin-top: 20%;  
}
.grid img{
   text-align: right;
    width: 80%;
    margin-left: 100px;
}
.grid h3{
    font-weight: 600;
    color: #373737;
     width: 79%;
    font-size: calc(1.375rem + 1.5vw);
     margin: 0 0 25px;
}

.grid p{
    font-size: 18px;
    line-height: 40px;
    width: 79%;
    color: #373737;
}
.showClient{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 60%;
    margin-top: 20px;
}
.showClient h4{
    font-size: 35px;
    color: red;
}
.showClient p{
    width: 100%;
    color: black;
}
.contact{
    background: #FF651C;
    border-color: #FF651C;
    color: #fff;
    box-shadow: 6px 6px 0 -1px #373737;
    cursor: pointer;
    padding: 8px 20px;
    border: 2px solid transparent;
    font-size: 14px;
    line-height: 1.5;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: ease all 0.35s;
    display: inline-block;
}
.contact .left-btn:hover{
    background-color: black;
    color: white;
    box-shadow: 6px 6px 0 -1px #FF651C;
}
.portfolio{
    background-color: #373737;
    border-color: #FF651C;
    color: #fff;
    box-shadow: 6px 6px 0 -1px #FF651C ;
    cursor: pointer;
    padding: 8px 20px;
    border: 2px solid transparent;
    font-size: 14px;
    line-height: 1.5;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: ease all 0.35s;
    display: inline-block;
}
.portfolio .left-btn:hover{
    background-color: red;
    color: white;
    box-shadow: 6px 6px 0 -1px black;
}
@media(max-width:400px){
    .brand{
        font-family: sans-serif;
        margin-top: 29%;
        width: 100%;
    }
    .brand-container{
        background-color: #373737;
        display: flex;
        max-width: 95%;
        flex-direction: row;
        overflow-x: scroll;
        justify-content: space-between;
    }
    .brand-container img{
        max-width: 30%;
        margin-left: 20%;
     }
     .grid{
        margin-top: 5%;  
    }
    .grid img{
         width: 90%;
         text-align: left;
         margin-left: 10px;
     }
     .brand-grid{
        display: flex;
        flex-direction: column;
    }
    .grid h3{
        font-weight: 600;
        color: #373737;
         width: 95%;
         padding: 10px;
        font-size: calc(1.375rem + 1.5vw);
    }
    
    .grid p{
        font-size: 18px;
        padding: 10px;
        line-height: 30px;
        width: 95%;
        color: #373737;
    }
    .showClient{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 95%;
        text-align: center;
        margin-top: 20px;
    }
    .showClient h4{
        font-size: 35px;
        color: red;
    }
    .showClient p{
        width: 100%;
        color: black;
    }
}
